<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="basics-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Basics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="basics-link">
                <a href="{% url 'products' %}?category=growbeds_pots" class="dropdown-item">Growbeds &amp; Pots</a>
                <a href="{% url 'products' %}?category=plumbing" class="dropdown-item">Plumbing</a>
                <a href="{% url 'products' %}?category=electronics_growlights" class="dropdown-item">Electronics &amp; Grow Lights</a>
                <a href="{% url 'products' %}?category=grow_medium" class="dropdown-item">Grow Medium</a>
                <a href="{% url 'products' %}?category=growbeds_pots,plumbing,electronics_growlights,grow_medium" class="dropdown-item">All Basics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plants-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seeds & Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants-link">
                <a href="{% url 'products' %}?category=seeds" class="dropdown-item">Seeds</a>
                <a href="{% url 'products' %}?category=baby_plants" class="dropdown-item">Baby Plants</a>
                <a href="{% url 'products' %}?category=seeds,baby_plants" class="dropdown-item">All Seeds &amp; Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="fish-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fish-link">
                <a href="{% url 'products' %}?category=fish_tanks" class="dropdown-item">Fish Tanks</a>
                <a href="{% url 'products' %}?category=fish_food" class="dropdown-item">Fish Food</a>
                <a href="{% url 'products' %}?category=aquarium_accesories" class="dropdown-item">Aquarium Accesories</a>
                <a href="{% url 'products' %}?category=fish_tanks,fish_food,aquarium_accesories" class="dropdown-item">All Fish Products</a>
            </div>
        </li>
    </ul>
</div>

